.row {
    margin-right: 0;
    margin-left: 0;
}

.img-card-top {
    height: 300px;
}

.livros {
    display: flex;
    justify-content: center;
}

.card {
    overflow: hidden;
    padding: 5px;
    opacity: 2;
}

.jumbotron {
    background-color: rgba(0,0,0,.6);
}