.row {
    margin-right: 0;
    margin-left: 0;
}

.img-card-top {
    height: 300px;
}

.livros {
    display: flex;
    justify-content: center;
}

.card {
    overflow: hidden;
    padding: 5px;
    opacity: 2;
}

.jumbotron {
    background-color: rgba(0,0,0,.6);
}

.lead {
    margin: 0;
    padding: 0;
}

.p {
    font-family: 'Roboto', sans-serif;
}

.pagination /deep/ .ngx-pagination {
    color: #00B4DB;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    border-radius: 7px;
}

.card-header{
    background-color: rgba(255, 255, 255, 0.1);
}

a.here {
    font-size: 1.1em;
    color: #0083B0;
    cursor: pointer;
}