.jumbotron {
    background-color: rgba(0,0,0,.6);
}

.mybook {
    font-family: 'Righteous', sans-serif;
}

@media(max-width: 1024px) {
    h1 {
        font-size: 32pt;
    }

    p {
        font-size: 12pt;
    }
}