<app-header></app-header>

<div class="jumbotron">
    <div class="text-center">
        <div class="container">
            <h1 class="display-4 text-light">Seja bem-vindo ao <span class="mybook">mybook</span>!</h1>
            <p class="lead text-light">Pesquise livros, confira suas informações e adicione os seus preferidos ao menu de favoritos <i class="fa fa-hand-peace-o text-warning"></i></p>
            <button routerLink="/search" class="btn btn-primary btn-lg">Comece aqui</button>
        </div>
    </div>
</div>
